<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeHandlers>
        <!--<typeHandler handler="com.tme.common.handler.ValuedEnumTypeHandler" javaType="com.tme.common.content.EntryType"/>
        <typeHandler handler="com.tme.common.handler.ValuedEnumTypeHandler" javaType="com.tme.common.content.MenuLeaf"/>
        <typeHandler handler="com.tme.common.handler.ValuedEnumTypeHandler" javaType="com.tme.common.content.MenuTip"/>-->
    </typeHandlers>
</configuration>
